<h1>Bem vindo kkkkx</h1>
<p>O idoma da aplicação e:<%=I18n.locale%></p>
<p>teste deu certo</p>
<p>data de hoje <%=I18n.l(Date.today)%></p>
<!--
<ul>
    <li>
         <a href="http://localhost:3000/coins">Moedas </a>
        
    </li>    
</ul>
-->
<!--<ul> 
    <li>
         <%= link_to "Moedas", coins_path %>
    </li>
</ul>
-->
<%= render "menu"%>
<p>
   Variavel de instancia. <%= @nome%> <br/>
   variael 2 de instancia <%=@teste%>
    
    
</p>